/* customize ya stuff */
:root {
    --border-radius: 5px;

    /* rgb for transparency to work */
    --text-color: 248, 248, 242;
    --text-color-secondary: 98, 114, 164;
    /* less bright, for unimportant bits */
    --background-color: 40, 42, 54;
    --background-color-brighter: 68, 71, 90;
    --app-background-color: 40, 42, 54;
    /* used only for the VERY background in the back */
    --accent-color: 255, 121, 198;
    --accent-color-secondary: 189, 147, 249;
    /* less saturated ver of --accent-color */
    --accent-color-bright: 80, 250, 123;
}

/* here for you to remove */
.account__avatar-overlay-base,
.account__avatar-overlay-overlay,
.account__avatar {
    border-radius: 5%;
    /* border-bottom-right-radius : 15%; */
    /* uncomment for teardrop */
}

/* roundening shenanigans */
.drawer > div,
nav,
.search,
.drawer__header a,
.drawer--header a,
.search__input {
    border-radius: var(--border-radius) !important;
}

.column-header,
.column-back-button,
.navigation-panel .column-link:nth-child(1),
.navigation-panel .column-link:nth-child(10),
.navigation-bar {
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}
.column > .scrollable,
.getting-started,
.navigation-panel .column-link:nth-child(8),
.navigation-panel .column-link:nth-child(11) {
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
}

/* standard fg/bg color changes */
.drawer__inner,
.drawer__inner__mastodon,
.drawer__header,
.drawer--header,
.actions-modal,
.block-modal,
.boost-modal,
.confirmation-modal,
.mute-modal,
.report-modal,
article,
.getting-started,
.column-subheading,
.column-link,
.column-subheading,
.column-link,
.emoji-mart-scroll,
.emoji-mart-search,
.emoji-mart-category-label,
.emoji-picker-dropdown__menu,
.scrollable,
.empty-column-indicator,
.column-inline-form,
.dropdown-menu,
.dropdown-menu__item a,
.account__header__fields dt,
.search-popout,
.confirmation-modal__action-bar,
.reactions-bar__item,
.emoji-picker-dropdown__modifiers__menu,
.content-wrapper,
.sidebar-wrapper--empty,
.regeneration-indicator,
.tabs-bar,
.navigation-bar,
.trends__header,
.modal-layout,
.account,
.search-results__contents,
.search-results__header {
    background-color: rgb(var(--background-color)) !important;
    color: rgb(var(--text-color)) !important;
    animation-name: rainbow-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.display-name__account,
.status__display-name,
.edit span {
    color: rgb(var(--text-color-secondary));
    animation-name: rainbow-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.icon-button.active.inverted,
.character-counter,
.column-header__button,
.status__prepend,
.text-icon-button,
.status-card__title,
.poll__footer,
.notification__message,
.status.status-public.muted.focusable,

.detailed-status__reblogs,
.detailed-status__favorites,
.detailed-status__meta,
.fa.fa-globe.status__visibility-icon.fa-fw,
text {
    color: rgb(var(--text-color-secondary));
}

.status__content__text,
.account__action-bar span,
.status__content,
.status__content__spoiler,
.status__content__spoiler--visible,
.setting-toggle__label,
.status__content_text,
.status__content_text li,
.rich-formatting p,
.rich-formatting,
.account__header__content,
.account__header__fields span,
.account__header small {
    color: rgb(var(--text-color)) !important
}

.link,
.status-card__host,
.poll__link,
.unhandled-link a,
.u-url.mention.status-link,
.status-link a,
.a.status-link.unhandled.link,
.status__content__text a {
    animation-name: rainbow-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.link.link.role-button,
.link.link.role-null,
.link.link.role-button span,
.link.link.role-null span {
    color: rgb(var(--text-color));
}

.link.link.active.role-button span,
.link.link.active.role-button {
    background-color: rgb(var(--background-brighter));
    color: rgb(var(--accent-color));
    animation-name: rainbow-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.status.light {
    background-color: rgb(var(--background-color-brighter))
}

.glitch.local-settings__navigation,
.glitch.local-settings__navigation__item,
.glitch.local-settings__page,
.glitch.local-settings,

.mute-modal__action-bar {
    background-color: rgb(var(--background-color));
    color: rgb(var(--text-color));
    animation-name: rainbow-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.modal-layout,
.modal-layout__mastodon > * {
    background-image: none;
}

.account__section-headline a.active::after,
.account__section-headline button.active::after,
.notification__filter-bar a.active::after,
.notification__filter-bar button.active::after,
.account__section-headline a.active::after,
.account__section-headline a.active::before,
.account__section-headline button.active::after,
.account__section-headline button.active::before,
.notification__filter-bar a.active::after,
.notification__filter-bar a.active::before,
.notification__filter-bar,
.search-results__contents,
.search-results__header,
button.active::after,
.notification__filter-bar button.active::before {
    border-color: rgba(109, 54, 54, 0) transparent rgb(var(--background-color));
}


.dropdown-menu__arrow,
.search-results__contents {
    border-bottom-color: rgb(var(--background-color)) !important;
}
.dropdown-menu__arrow.top {
    border-top-color: rgb(var(--background-color)) !important;
}

.reply-indicator__content,
.status__content,
.reply-indicator__display-name,
.privacy-dropdown__option__icon,
.composer--options--dropdown--content--item .icon,
.account__section-headline span,
.composer--reply > .content {
    color: rgb(var(--text-color)) !important;
}

.notification__message {
    color: rgb(var(--text-color));
}
.status p,
.status__content p,
.columns-area p,
.status.light,
.status__content.status__content--with-action p {
    color: rgb(var(--text-color));
}


html {
    scrollbar-color: rgb(var(--background-color-brighter)) rgba(0, 0, 0, 0.1);
    animation-name: rainbow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.tabs-bar__wrapper {
    background: rgb(var(--app-background-color));
    animation-name: rainbow-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.column-header,
.account__section-headline,
.notification__filter-bar > button,
.emoji-mdisplay-name__htmlart-bar,
.column-back-button,
.column-header__back-button,
.announcements,
.column-header__collapsible-inner,
.status.status-direct:not(.read),
.notification__filter-bar,
.glitch.local-settings__pag {
    background-color: rgb(var(--background-color-brighter)) !important;
    border-bottom: none;
    animation-name: rainbow-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.reply-indicator,
.emoji-picker-dropdown__modifiers__menu button:hover,
.compose-form .compose-form__buttons-wrapper,
.composer--options-wrapper,
.compose-form__poll-wrapper select,
.flash-message,
.card__bar,
.card > a:hover .card__bar,
.glitch.local-settings__navigation__item:hover {
    background-color: rgb(var(--background-color-brighter));
    background-color: rgb(var(--accent-color));
    animation-name: rainbow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.columns-area,
.app-body,
.getting-started__wrapper,
.getting-started__footer span {

    color: rgb(var(--text-color-secondary)) !important;
}

.privacy-dropdown__option__content strong,
.composer--options--dropdown--content strong,
.report-modal__comment .setting-text-label,
.compose-form__poll-wrapper select {
    color: rgb(var(--text-color)) !important;
}

input,
textarea,
.compose-form__modifiers,
.privacy-dropdown__dropdown,
.composer--options--dropdown--content,
.privacy-dropdown__value {
    background-color: rgb(var(--background-color-brighter)) !important;
    color: rgb(var(--text-color)) !important;
}

.compose-form__buttons-wrapper,
.admin-wrapper .sidebar-wrapper__inner,
.admin-wrapper .sidebar ul a:hover,
.admin-wrapper .sidebar ul a,
.admin-wrapper .sidebar ul a.selected,
.account__disclaimer,
.account__action-bar-links {
    background-color: rgb(var(--background-color-brighter));
}

.detailed-status,
.detailed-status__action-bar,
.account__header__bar,
.focusable:focus {
    background-color: rgb(var(--background-color-brighter)) !important;
    border-bottom: none;
    border-top: none;
}

.status.collapsed .status__content::after {
    background: linear-gradient(rgba(var(--text-color), 0), rgba(var(--text-color), 0)) !important;
}

/* accent color changes */
.button,
.react-toggle--checked .react-toggle-track,
.react-toggle--checked:hover .react-toggle-track,
.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track,
.button.logo-button,
.emoji-mart-anchor-bar,
.loading-bar,
.icon-with-badge__badge,
.video-player__volume__current,
.video-player__volume__handle,
.upload-progress__tracker,
.video-player__seek__buffer,
.video-player__seek__progress,
.floating-action-button,
.video-player__seek__handle {
    background-color: rgb(var(--accent-color));
    animation-name: rainbow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.react-toggle--checked .react-toggle-thumb,
.filters .filter-subset a.selected,
.account__action-bar__tab.active,
.tabs-bar__link.active,
.account__section-headline,
.notification.unread::before,
.status.unread::before,
.notification.unread::before,
.status__wrapper.unread::before {
    border-color: rgb(var(--accent-color));
    animation-name: rainbow-border;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.compose-form__sensitive-button .checkbox {


    /*    filter: brightness(0) saturate(100%) invert(44%) sepia(16%) saturate(1171%) hue-rotate(188deg) brightness(95%) contrast(86%);
    color: transparent !important; */
    color: rgb(var(--text-color))
}



.icon-button.inverted,
.button.inverted:hover,
.icon-button,
.icon-button:hover,
.status__action-bar__counter__label,
.text-icon-button:active,
.text-icon-button:focus,
.text-icon-button:hover,
.icon-button.disabled,
.composer--options--dropdown.open > .value {
    color: rgb(var( --text-color-secondary));
}



.status__info__icons i {
    color: rgb(var(--text-color-secondary)) !important;
    animation-name: rainbow-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.status__content__spoiler-link,
.video-player__seek__buffer {
    background-color: rgb(var(--background-color-brighter)) !important;
    animation-name: rainbow-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.column-header__wrapper.active::before {
    background: radial-gradient(ellipse, rgba(var(--accent-color), .23) 0%, rgba(var(--accent-color), 0) 60%);
}
.column-header__wrapper.active {
    box-shadow: 0 1px 0 rgba(var(--accent-color), .3);
}



.poll__chart {
    background-color: rgb(var(--accent-color-secondary));
    animation-name: rainbow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.column-header.active .column-header__icon {
    text-shadow: 0 0 10px rgba(var(--accent-color), .4);
}

.text-icon-button:active,
.text-icon-button:focus,
.text-icon-button:hover,
.drawer__header a:hover,
.drawer--header a:hover,
.drawer--header a:focus,
.icon-button:hover,
.reactions-bar__item:hover {
    background-color: rgba(var(--accent-color-secondary), .1);
    animation-name: rainbow-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.icon-button.inverted:active,
.icon-button.inverted:focus,
.icon-button.inverted:hover,
.reactions-bar__item.active {
    background-color: rgba(var(--accent-color-secondary), .25);
    color: rgb(var(--accent-color-secondary));
}

.button:active,
.button:focus,
.button:hover,
.admin-wrapper .sidebar ul .simple-navigation-active-leaf a:hover,
.simple_form .block-button:hover,
.simple_form .button:hover,
.simple_form button:hover,
.button.logo-button:active,
.button.logo-button:focus,
.button.logo-button:hover,
.floating-action-button:hover,
.glitch.local-settings__navigation__item.active:hover {
    background-color: rgb(var(--accent-color-bright));
    animation-name: rainbow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.privacy-dropdown__option.active,
.composer--options--dropdown--content--item.active,
.privacy-dropdown__option:hover,
.composer--options--dropdown--content--item:hover,
.privacy-dropdown__option.active:hover,
.composer--options--dropdown--content.active:hover,
.admin-wrapper .sidebar ul .simple-navigation-active-leaf a,
.simple_form .block-button,
.simple_form .button,
.simple_form button,
.simple_form .block-button:active,
.simple_form .block-button:focus,
.simple_form .button:active,
.simple_form .button:focus,
.simple_form button:active,
.simple_form button:focus,
.composer--options--dropdown.open > .value,
.glitch.local-settings__navigation__item.active {
    background-color: rgb(var(--accent-color));
    animation-name: rainbow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.status__info__icons .icon-button.active i,
.tabs-bar__link.active {
    color: rgb(var(--accent-color)) !important;
    animation-name: rainbow-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.trends__item__sparkline path:last-child {
    stroke: rgb(var(--accent-color)) !important;
}
.trends__item__sparkline path:first-child {
    fill: rgb(var(--background-color-brighter)) !important;
}


.column-header__back-button,
.__read-more-button,
.column-header.active .column-header__icon,
.column-link.active,
.account__section-headline a.active,
.account__section-headline button.active,
.notification__filter-bar a.active,
.notification__filter-bar button.active,
.account__header__content a,
.account__header__bio .account__header__fields a,
.reactions-bar__item.active .reactions-bar__item__count,
.emoji-mart-anchor-selected,
.reply-indicator__content a,
.compose-form .compose-form__warning a,
.text-icon-button.active,
.icon-button.inverted.active,
.drawer__tab:hover,
.icon-button.active,
.column-back-button,
.filters .filter-subset a.selected,
.admin-wrapper .content .muted-hint a,
body .muted-hint a,
.table a,
.notification__message .fa,
.drawer--header a:hover,
.drawer--header a:focus {
    color: rgb(var(--accent-color)) !important;
    animation-name: rainbow-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* fixes */
/* boost hack, v2 */
/* https://codepen.io/sosuke/pen/Pjoqqp */
button.icon-button i.fa-retweet {


    filter: brightness(0) saturate(100%) invert(44%) sepia(16%) saturate(1171%) hue-rotate(188deg) brightness(95%) contrast(86%);
    color: transparent !important;
}
button.icon-button.active i.fa-retweet {
    filter: brightness(0) saturate(100%) invert(82%) sepia(47%) saturate(4579%) hue-rotate(289deg) brightness(101%) contrast(103%);
}


button.icon-button.disabled i.fa-retweet,
button.icon-button.disabled i.fa-lock {
    filter: invert(43%) sepia(43%) saturate(434%) hue-rotate(188deg) brightness(94%) contrast(88%);
}

.picture-in-picture__footer i.fa-retweet {
    filter: none !important;
}

.load-more:hover,
.mbstobon-2 .drawer__inner__mastodon,
.mbstobon-1 .drawer__inner__mastodon,
.mbstobon-0 .drawer__inner__mastodon {
    background: inherit;
}

.account__action-bar__tab,
.account__action-bar {
    border: none;
    color: rgb(var(--text-color-secondary))
}

.notification__filter-bar,
.account__header__bar,
.admin-wrapper .content-heading,
.admin-wrapper .content h4,
.tabs-bar__link:not(.active) {
    border-bottom: none;
}

.dropdown-menu__separator,
hr {
    opacity: 0;
}
.compose-form .autosuggest-textarea__textarea,
.compose-form .spoiler-input__input,
.compose-panel .compose-form__autosuggest-wrapper,
.mbstobon-3 .drawer__inner__mastodon {
    background: transparent;
}
.status,
.account,
.account__header__fields dl,
.account__header__fields,
.account__header__bio .account__header__fields,
.glitch.local-settings__navigation__item {
    border-top: none;
    border-bottom: none;
}

.report-modal__container,
.report-modal__comment,
.report-modal__comment .setting-text__wrapper {
    border-color: rgba(0, 0, 0, 0) !important;
}

.drawer__inner__mastodon {
    background: inherit;
}

/* misc */
.column-link:hover,
.dropdown-menu__item a:active,
.dropdown-menu__item a:focus,
.dropdown-menu__item a:hover,
header strong.display-name__html {
    color: #fff !important;
}

.notification__filter-bar button.active,
.account__section-headline .active {
    border-bottom: 3px solid rgb(var(--accent-color));
    animation-name: rainbow-border;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.notification__filter-bar button:not(.active):hover {
    top: -3px;
}
.account__section-headline a.active::after,
.account__section-headline a.active::before {
    display: none;
}

.account__header__extra__links a:hover {
    text-decoration: underline;
}
.account__section-headline a:hover,
.confirmation-modal__cancel-button {
    color: #fff;
}

.notification__filter-bar button.active::after {
    opacity: 0;
}
.notification__filter-bar button.active::before {
    opacity: 0;
}

.column-link__badge,
.column-subheading {
    background-color: rgb(var(--accent-color));
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes flash {
    from {
        background-color: rgb(var(--accent-color));
    }
    to {
        background-color: rgb(var(--accent-color-secondary));
    }
}

.reply-indicator {
    max-height: 38px;
    overflow-y: hidden;
    transition: max-height 1s;
}
.reply-indicator:hover {
    max-height: 100%;
}
.reply-indicator:before {
    content: 'Replying to:';
    font-size: 12px;
    color: rgb(var(--text-color-secondary));
}

.getting-started__footer p:after {
    color: rgb(var(--text-color-secondary));
    content: ' oat was here (and also zoe)';
}


/* public/static css */
/* for pages like /@username */
.public-layout .public-account-header__tabs__tabs .counter.active::after {
    border-bottom-color: rgb(var(--accent-color));
    animation-name: rainbow-border;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.public-layout .public-account-bio,
.account__header__fields a {
    color: rgb(var(--accent-color));
    animation-name: rainbow-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.public-layout .header .nav-button {
    color: #fff;
    background-color: rgb(var(--accent-color));
}
.public-layout .header .nav-button:active,
.public-layout .header .nav-button:focus,
.public-layout .header .nav-button:hover {
    background-color: rgb(var(--accent-color-bright))
}
.public-layout .activity-stream .entry,
.hero-widget__text,
.table-of-contents {
    background-color: rgb(var(--background-color));
}
body {
    background-color: rgb(var(--app-background-color));
}
.public-layout .public-account-header__tabs__tabs .counter {
    border-right: none;
}
.public-layout .public-account-bio,
.public-layout .public-account-header__bar::before,
.public-layout .header,
.directory__tag > a,
.directory__tag > div,
.directory__tag > a:active,
.directory__tag > a:focus,
.directory__tag > a:hover,
.public-layout .header .brand:hover,
.landing-page__call-to-action,
.box-widget {
    background-color: rgb(var(--background-color-brighter));
}
.public-layout .display-name,
.status__relative-time time,
.status__relative-time {
    color: rgb(var(--text-color-secondary));
}
.rich-formatting,
.rich-formatting p {
    color: rgb(var(--text-color));
}
.rich-formatting table tbody tr,
.rich-formatting table thead tr,
.notification-follow,
.notification-follow-request {
    border-bottom: none;
}

/* party mode */
@keyframes rainbow {
    0% {
        background-color: #ff79c6;
    }
    16% {
        background-color: #bd93f9;
    }
    32% {
        background-color: #ff5555;
    }
    48% {
        background-color: #ffb86c;
    }
    64% {
        background-color: #f1fa8c;
    }
    80% {
        background-color: #50fa7b;
    }
    100% {
        background-color: #8be9fd;
    }
}

@keyframes rainbow-border {
    0% {
        border-color: #ff79c6;
    }
    16% {
        border-color: #bd93f9;
    }
    32% {
        border-color: #ff5555;
    }
    48% {
        border-color: #ffb86c;
    }
    64% {
        border-color: #f1fa8c;
    }
    80% {
        border-color: #50fa7b;
    }
    100% {
        border-color: #8be9fd;
    }
}
@keyframes rainbow-color {
    0% {
        color: #ff79c6;
    }
    16% {
        color: #bd93f9;
    }
    32% {
        color: #ff5555;
    }
    48% {
        color: #ffb86c;
    }
    64% {
        color: #f1fa8c;
    }
    80% {
        color: #50fa7b;
    }
    100% {
        color: #8be9fd;
    }
}
